@media screen and (max-width: 600px) {
	.app-container {
		height: 100%;
	}
	.right-sidebar,.left-sidebar li,.user-container,.menu-content-container, .block-video {
		font-size: 10%;
	}
	.content-header,.block-video {
		height: 15%;
	}
	.content-header {
		width: 75%;
	}
	.block-video {
		width: 25%;
	}
	.content-header p {
		font-size: 10%;
		width: 23%;
	}

	.content-header i {
		font-size: 110%;
	}

	.content-header h1 {
		font-size: 55%;
	}

	.content-header h2 {
		font-size: 30%;
	}

	.content-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, 20%);  
	grid-row-gap: 0%;
	grid-column-gap: 5%;
	width: 75%;
	height: 58%;
	}

	.right-sidebar {
		width: 25%;
	}

	.search {
		height: 16px;
		width: 60%;
	}

	#menuButton {
		height: 16px;
		display: block;
		margin-left: 3%;
    	color: #C7C7C3;
    	padding: 0.1% 2% 0.1% 2%;
    	box-shadow: 1px 0px 4px 1px #C0CCCC;
    	background-color: white;
    	border-radius: 20px;
    	border: none;
	}
	
	.menu-content-container {
		height: 6%;
	}

	#durationBar {
		height: 3px;
	}
	.show-name {
		padding: 3%;
	}
	.right-sidebar, .content-container {
		height: 78%;
	}

	.left-sidebar li {
	line-height: 18px;
	}

	.left-sidebar.closed-menu{
		display: none;
	}

	.left-sidebar.opened-menu {
		display: block;
		position: absolute;
		width: 30%;
		z-index: 1;
	}

	.header {
		width: 100%;
	}
}
