@media screen and (max-width: 600px) {
	.app-container {
		height: 100%;
	}
	.right-sidebar,.left-sidebar li,.user-container,.menu-content-container,.block-video {
		font-size: 10%;
	}
	.content-header,.block-video {
		height: 15%
	}
	.content-header p {
		font-size: 10%;
		width: 23%;
	}

	.content-header i {
		font-size: 110%;
	}

	.content-header h1 {
		font-size: 55%;
	}

	.content-header h2 {
		font-size: 30%;
	}

	

}
