* {
	margin: 0px;
	padding: 0px;
}

body {
	background: linear-gradient(to bottom, #433662, #707c96, #7e9ab0);
	position: relative;	
}

.app-container {
	height: 130%;
	background-color: white;
	margin: 3%;
}

.left-sidebar {
	border-top: 5px solid #3bb4bc;
	width: 16.6%;
	height: calc(100% - 5px);
	background-color: #0e1214;
	float: left;
}

.left-sidebar * {
	color: #464643;
}

img.logo{
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.green-dot {
	display: inline;
	margin-left: 23%;
	color: #256747;
	font-size: 150%;
}

.red-dot {
	display: inline;
	margin-left: 23%;
	color: #893839;
	font-size: 150%;
}

.header {
	width: 83.4%;
	height: 7%;
	color: #AEAEAE;
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Architects Daughter', cursive;
}

.search {
	margin-left: 5%;
	border-radius: 20px;
	float: left;
	border: none;
	box-shadow: 1px 0px 4px 1px #C0CCCC;
}

.user-container {
	display: flex;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	margin-right: 2%;
	width: 22%
}

.user-container * {
	cursor: pointer;
}

.opened-icon {
	color: #879D9D;
}

.closed-icon {
	color: #C7C7C7;
}

.header form {
	width: auto;
	box-sizing: border-box;
}

.header img {
	height: 40%;
	float: left;
}

.bell.opened {
	background-color: red;
}

.content-header {
	position: relative;
	width: 62%;
	height: 35%;
	float: left;
	background: url(img/Colbert.jpg) center center no-repeat;
	background-size: cover;
}

.content-header p {
	width: 13%;
    margin-top: 4%;
    margin-left: 6%;
    padding: 5px;
    font-size: 55%;
    text-align: center;
	color: white;
	background-color: rgba(150, 39, 38, 0.7);
	cursor: default;
}

.content-header i {
	color: white;
	margin-left: 6%;
    margin-top: 10%;
    font-size: 220%;
}

.content-header h1 {
	margin-top: 3%;
    margin-left: 6%;
    color: #D0D5D9;
    font-size: 115%;
}

.content-header h2 {
	margin-top: 1%;
    margin-left: 6%;
    color: white;
    font-size: 90%;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
}

.content-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 25%);
	grid-template-rows: 25% 25% 25%;
	grid-column-gap: 5%;
    grid-row-gap: 7%;
    justify-content: center;
    align-items: center;
    align-content: center;
	width: 62%;
	height: 58%;
	background-color: white;
	float: left;
}

.content-container i {
	cursor: pointer;
}

.menu-content-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	height: 10%;
	top:0;
	color: #CCCCCC;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right-content-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	font-size: 70%;
	margin-right: -10%;
}

.left-content-menu {
	margin-left: -10%;
}

.left-content-menu i:first-child {
	margin-right: 10px;
}

.right-content-menu i {
	margin-left: 10px;
}

.content-container img {
	width: 100%;
	max-height: 100%
}

.right-sidebar {
	width: 21.4%;
	height: 58%;
	background-color: #0E1214;
	float: right;

}

.replying-user div div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10%;
}

.replying-container {
	width: 80%;
	margin-left: 15%;
}

.right-sidebar img {
	height: 60%;
}

.replying-user {
	background: #191E23;
	border-top: 2px solid #090B0D;
	color: #4F5357;
	font-size: 70%;
	width: 100%;
	height: auto;
	padding-bottom: 15px;
}

.replying-user span {
	color: #4F5357;
}

.replying-container > div p {
	color: #C0CCCC;
}

.replying-container > p {
	font-family: 'ZCOOL XiaoWei', serif;
}

.replying-user-container > div:last-child {
	color: #C0CCCC;
} 


.replying-to {
	position: relative;
	width: 80%;
	margin-left: 15%;
	padding-top: 15%;
	color: #848687;
	line-height: 30px;
}

.replying-to span:first-child {
	float: left;
	color: #3BB4BC;
	margin-right: 4%;
}

.replying-to p {
	color: #C0CCCC;
}

.replying-to:before {
	content: "";
	border: 6px solid transparent;
	border-color: transparent transparent #0e1214 transparent;
	width: 0;
	height: 0;
	top: -11%;
    left: 42%;
	position: absolute;
}

.block-video {
	display: flex;
	width: 21.4%;
	height:35%;
	float: right;
	background-color: #9e9e9e45;
    font-size: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.news-container {
	width: 80%;	
}

.show-date{
	color: #4e7171;
	padding: 5px;
}

.show-name {
	color: #C8D3D3;
	background-color: white;
	padding: 5px;
}

.reply-opened {
	position: relative;
	background-color: #CBE6E6;
	color: #9EB8B8;
	width: 100%;
	height: 18%;
	cursor: pointer;
}

.reply-closed {
	visibility: hidden;
}

.reply-opened:before {
 	content: "";
    border: 5px solid transparent;
    border-color: transparent transparent #CBE6E6 transparent;
    width: 0px;
    height: 0px;
    top: -9px;
    left: 68%;
 	position: absolute;
}

.reply-opened p {
	left: 15%;
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;
}

.reply-opened span {
	position: absolute;
	font-size: 200%;
	margin-left: 4%;
	top: 50%;
	transform: translate(0, -50%);
}

video {
	width: 100%;	
}

#durationBar {
	width: 100%;
	height: 6px;
	background-color: #de6567;	
}

#positionBar {
	background-color: #3acfd5;
	width: 0%;
	height: 6px; 
}

.icon-style {
	width: 62px;
	height: 65px;
}

.left-sidebar li {
	list-style-type: none;
	font: 7pt sans-serif;
	line-height: 25px;
	transition: background-color 1s, color 1s;
}

.selectedLink {
	background-color: #3BB4BC;
	transition: background-color 1s, color 1s;
}

.left-sidebar a:hover {
	background-color: rgba(25, 30, 35, 0.7);
	transition: background-color 1s, color 1s;
}

.left-sidebar i{
	padding-right: 10px;
	color: inherit;
}

.left-sidebar a {
	position: relative;
	padding-left: 20%;
	display: block;
	width: 80%;
	text-decoration: none;
	border-top: 1px solid transparent;
	border-image: linear-gradient(to right, #0e1214 20%, #090b0d 20%);
	border-image-slice: 1;
}

